
*.slo
*.lo
#*.o
#*.a
*.la
*.lai
#*.so
#*.dll
#*.dylib
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*
*.autosave
*.qmlproject.user
*.qmlproject.user.*
OGLdpf.log
ipch/
[Dd]ebug SLL/
[Dd]ebug/
[Rr]elease/
[Rr]elease SLL/
/src/cgui.qrc

*.opensdf
*sdf
*.suo
*.vcxproj.user
bin/
/include/
/lib/
gui.qrc
.DS_Store

*.orig
*.opendb
